.reviews__wrapper {
  .container();

  padding-top: 29px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 28px;
}

.reviews__list {

}

.reviews__item {
  margin-bottom: 23px;
  padding-left: 68px;
}

@media @tablet-widths {
  .reviews__wrapper {
    padding-top: 43px;
    padding-bottom: 71px;
  }

  .reviews__title {
    margin-right: 200px;
    margin-bottom: 38px;
  }

  .reviews__list {
    width: 540px;
    margin: 0 auto;
  }

  .reviews__item {
    margin: 0;
    padding-left: 138px;
  }
}

@media @desktop-widths {
  .reviews__wrapper {
    padding-bottom: 98px;
  }

  .reviews__title {
    margin-left: 70px;
  }

  .reviews__list {
    width: 818px;
  }

  .reviews__item {
    padding-left: 318px;
  }
}
